.builder {
    padding: 2em;
    background-color: $secondary-color;
    min-height: 38em;
    text-align: center;
   
    &_nav {
        display: flex;
        justify-content: space-between;
        border-bottom: 0.8em solid $primary-color;
    }

    &_interface{
        display: flex;
        justify-content: space-between;

        > * {
            flex-basis: 50%;
        }
    }
}