.builder {
    padding: 2em;
    background-color: $secondary-color;
    min-height: 38em;
    text-align: center;
   
    &_interface{
        display: flex;
        justify-content: space-around;

        > * {
            flex-basis: 50%;
        }
    }
}