.builder {
    &_progressBar {
        height: 5em;
        display: flex;
        justify-content: space-evenly;
        // background-color: $secondary-color;
        padding: 2em;
        position: relative;
        z-index: 2;

        & > :first-child {
            border-radius: 1em 0 0 1em;
            
            & > :first-child {
                border-radius: 1em 0 0 1em;
            }
        }

        & > :last-child {
            border-radius: 0 1em 1em 0;
        }

        span {
            position: relative;
            flex-basis: 25%;
            background-color: rgb(255, 255, 255);

            p {
                position: relative;
                z-index: 3;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                margin: auto;
                width: 90%;
            }

            &:not(:first-child):before {
                content: '';
                position: absolute;
                z-index: 3;
                left: -5%;
                z-index: 0;
                display: block;
                height: 5em;
                width: 3em;
                background-color: white;
            }
        }

        &_btnText {
            position: relative;
            z-index: 6;
        }
    } 
}

// for making changes to nav
.builder_nav_selected {
    z-index: 4 !important;
    background-color: red !important;
    color: white;
    pointer-events: all;

    ::before {
        background-color: red !important;
    }
}

.builder_nav_selected_parent {
    &:not(:first-child)::before {
        background-color: red !important;
    }
    background-color: red !important;
}

.builder_nav_selected_parent-current {
    &:not(:last-child)::after{
        content: '';
        position: absolute;      
        z-index: 3;
        left: 95%;
        top: 50%;
        display: block;
        background-color: red;
        width: 3.5rem;
        height: 3.5rem;
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

@media only screen and (max-width: 900px) {
        .builder_progressBar span {
            &:not(:last-child)::after{
                content: none;
            }
        }       
}

@media only screen and (max-width: 400px) {
    .builder_progressBar {
       display: none;
    }       
}