.btn-primary, .btn-big {
  display: inline-block;
  border-radius: 3em;
  padding: 0.8em 2em;
  margin: 0.4em 0.2em;
}

.btn-primary {
  color: white;
  background-color: #8e3131;
  border: 0.2em transparent solid;
  text-shadow: 1px 1px black;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.btn-primary:hover {
  border-color: white;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn-primary:focus {
  border-color: white;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn-big {
  letter-spacing: 0.2em;
  font-family: "Oswald", sans-serif;
  font-size: 1.4em;
  color: white;
  background-color: #cf5f3c;
  border: 0.2em transparent solid;
  text-shadow: 0.5px 0.5px black;
  margin: 0.4em;
}

.btn-big:hover {
  border-color: white;
}

.btn-continue {
  position: absolute;
}

.btn-primary-selected {
  border: 0.2em white solid;
}

.btn-secondary {
  background-color: #8e3131 !important;
  border-left: 0.2em solid white  !important;
  border-right: 0.2em solid white  !important;
  border-bottom: 0.2em solid white  !important;
  width: 30%;
  height: 2em;
  border: none;
}

.btnSelected {
  background-color: white !important;
}

* {
  font-family: "Open Sans", sans-serif;
}

.header {
  background-color: #cf5f3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 3;
}

.header img {
  height: 7em;
}

.header_title {
  text-align: center;
}

.header_title h1 {
  font-family: "Oswald", sans-serif;
  margin: auto;
  font-size: 5em;
}

@media only screen and (max-width: 700px) {
  .header img {
    height: 12em;
  }
}

footer {
  padding: 0 2em;
  background-color: #cf5f3c;
  color: white;
  height: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 700px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 4em;
  }
  footer p {
    margin: 0 auto;
  }
}

.builder_progressBar {
  height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2em;
  position: relative;
  z-index: 2;
}

.builder_progressBar > :first-child {
  border-radius: 1em 0 0 1em;
}

.builder_progressBar > :first-child > :first-child {
  border-radius: 1em 0 0 1em;
}

.builder_progressBar > :last-child {
  border-radius: 0 1em 1em 0;
}

.builder_progressBar span {
  position: relative;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  background-color: white;
}

.builder_progressBar span p {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin: auto;
  width: 90%;
}

.builder_progressBar span:not(:first-child):before {
  content: '';
  position: absolute;
  z-index: 3;
  left: -5%;
  z-index: 0;
  display: block;
  height: 5em;
  width: 3em;
  background-color: white;
}

.builder_progressBar_btnText {
  position: relative;
  z-index: 6;
}

.builder_nav_selected {
  z-index: 4 !important;
  background-color: red !important;
  color: white;
  pointer-events: all;
}

.builder_nav_selected ::before {
  background-color: red !important;
}

.builder_nav_selected_parent {
  background-color: red !important;
}

.builder_nav_selected_parent:not(:first-child)::before {
  background-color: red !important;
}

.builder_nav_selected_parent-current:not(:last-child)::after {
  content: '';
  position: absolute;
  z-index: 3;
  left: 95%;
  top: 50%;
  display: block;
  background-color: red;
  width: 3.5rem;
  height: 3.5rem;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

@media only screen and (max-width: 900px) {
  .builder_progressBar span:not(:last-child)::after {
    content: none;
  }
}

.builder {
  background-image: url("https://res.cloudinary.com/diby2nljo/image/upload/c_scale,q_auto:eco,w_1000/v1613417516/Pizza%20Maker/269_tj8gbx.jpg");
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.builder_background {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
}

.builder_interface {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 2em;
  color: white;
}

.builder_interface_buildOptions {
  position: relative;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.builder_pizza {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

@media only screen and (max-width: 1200px) {
  .builder_interface {
    display: block;
  }
  .builder_interface_buildOptions_continue {
    position: absolute;
    border: 1px solid white;
    height: 6em;
    bottom: -6em;
    width: 100%;
  }
  .builder_interface_buildOptions_continue a {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 100%;
  }
}

.builder_interface_home {
  min-height: 30em;
  margin-top: 3em;
  width: 80%;
  margin: 0 auto;
}

.builder_interface_home_symbolContainer {
  position: relative;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-height: 30em;
}

.builder_interface_home_symbolContainer img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-height: 25em;
}

.builder_interface_home_symbolContainer a {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.builder_interface_home_symbolContainer a button {
  font-size: 2em;
}

@media only screen and (max-width: 1200px) {
  .builder_interface_home_symbolContainer {
    top: 13em;
  }
}

.builder_buildOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.builder_interface_buildOptions_toppings {
  margin-bottom: 1.5em;
}

.builder_interface_buildOptions_toppings > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.builder_interface_buildOptions_toppings_topping {
  position: relative;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em 0;
}

.builder_interface_buildOptions_toppings_topping button {
  position: relative;
  z-index: 2;
}

.builder_interface_buildOptions_toppings_topping_layout {
  position: absolute;
  z-index: 1;
  top: 1.9em;
  right: 7%;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  fill: blue;
}

.builder_interface_buildOptions_toppings_topping_layout button {
  text-align: center;
}

.builder_interface_buildOptions_toppings_topping_layout button svg {
  pointer-events: none;
  margin: 0 auto;
}

.builder_interface_buildOptions_toppings_topping_layout :first-child {
  border-bottom-left-radius: 0.5em;
}

.builder_interface_buildOptions_toppings_topping_layout :last-child {
  border-bottom-right-radius: 0.5em;
}

.builder_buildOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.builder_interface_order {
  position: relative;
  min-height: 30em;
  margin-top: 3em;
  width: 80%;
  margin: 0 auto;
}

.builder_interface_order img {
  position: relative;
  z-index: 0;
  top: 1em;
  max-height: 20em;
}

.builder_interface_order a {
  position: relative;
  border-color: none;
  display: block;
}

.builder_interface_order a button {
  font-size: 2em;
}

.builder_pizza {
  min-height: 40em;
}

.builder_pizza_container {
  position: relative;
}

.builder_pizza_container_widgets {
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.builder_pizza_container_widgets p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0.5em 0;
  color: white;
  border-radius: 1em;
  padding: 0.5em;
}

.builder_pizza_container_widgets_size {
  background-color: #6c0090;
}

.builder_pizza_container_widgets_style {
  background-color: #4d0000;
}

.builder_pizza_container_widgets_sauce {
  background-color: #740000;
}

.builder_pizza_container_widgets_cheese {
  background-color: rgba(176, 115, 0, 0.848);
}

.builder_pizza_container_widgets_protein {
  background-color: #ad0000;
}

.builder_pizza_container_widgets_veggie {
  background-color: #4c7e00;
}

.builder_pizza_container img {
  max-height: 40em;
  position: absolute;
  left: -17em;
}

@media only screen and (max-width: 1200px) {
  .builder_pizza {
    padding-top: 7em;
  }
  .builder_pizza_container {
    position: relative;
  }
  .builder_pizza_container img {
    position: absolute;
    top: 19em;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 700px) {
  .builder_pizza {
    min-height: 34em;
    padding-top: 11em;
  }
  .builder_pizza_container_widgets {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-height: 30em;
  }
  .builder_pizza_container img {
    max-height: 90vw;
    top: 15em;
  }
}
/*# sourceMappingURL=App.css.map */