.builder_interface_buildOptions_toppings {
    margin-bottom: 1.5em;

    & > span{
        // width: 40em;
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-around; 
    }

    &_topping {
        position: relative;
        width: 45%;
        display: flex;
        flex-direction: column;
        margin: 1em 0;

        & button {
            position: relative;
            z-index: 2;
        }

        &_layout{
            position: absolute;
            z-index: 1;
            top: 1.9em;
            right: 7%;
            width: 75%;
            display: flex;
            margin: 0 auto;
            fill: blue;
            
            & button {
                text-align: center;

                & svg {
                    pointer-events: none; 
                    margin: 0 auto;
                }
            }
            
            & :first-child {
            border-bottom-left-radius: 0.5em;
            }

            & :last-child {
            border-bottom-right-radius: 0.5em;
            }
        }
    }
}