.builder{
   &_interface {
      &_home {
         min-height: 30em;
         margin-top: 3em;
         width: 80%;
         margin: 0 auto;

         &_symbolContainer {
            position: relative;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-height: 30em;
            
            img {
               position: absolute;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
               max-height: 25em;
            }

            a {
               width: 100%;
               position: absolute;
               top:50%;
               left: 50%;
               transform:translate(-50%,-50%);

               button {
                  font-size: 2em;
               }
            }
         }

      }
   }
}

@media only screen and (max-width: 1200px){
   .builder {
       &_interface {
           &_home {
              &_symbolContainer {
                 top: 13em;
              }
           }
       }
   }
}

@media only screen and (max-width: 500px){
   .builder {
       &_interface {
           &_home {
              &_symbolContainer {
                 margin-top: 3em;
                 position: static;
                 min-height: auto;
                 transform: translate(0, 0);

               img {
                  max-height: 12em;
                  z-index: 1;
               }

               a {
                  position: relative;
                  top: 0;
                  left: 0;
                  z-index: 3;
                  
                  button {
                     font-size: 5vw;
                  }
               }
              }
           }
       }
   }
}