.builder_pizza {
    height: 40em;
    
    &_container {
        &_widgets {
            position: absolute;
            z-index: 2;
            display: flex;
            flex-direction: column;

            p {
                width: fit-content;
                margin: 0.5em 0;
                color: white;
                border-radius: 1em;
                padding: 0.5em
            }

            &_size {
                background-color: rgb(108, 0, 144);
            }

            &_style {
                background-color: rgb(77, 0, 0);
            }

            &_sauce {
                background-color: rgb(116, 0, 0);
            }

            &_cheese {
                background-color: rgba(176, 115, 0, 0.848);
            }

            &_protein {
                background-color: rgb(173, 0, 0);
            }

            &_veggie {
                background-color: rgb(76, 126, 0);
            }
        }
        img {
            max-height: 40em;
            position: absolute;
            right: 5em;
        }
    }
}